{% extends "layout.html" %}
{% block body %}

<div id="dropbox" >
  <h3>Adicionar Imagem</h3>
  <span id="container"> </span>
  <span class="image-box" >
    <span class='image-box' >
    </span>
    <img id="preview" src="/static/media/plus.png">
  </span>
</div>
<input type="file" id="file_input" style="visibility:hidden" multiple />

<!-- <input type="button"  id="upload_crop" value="Salvar" onClick="upload_croped()" />
-->

<script type="text/javascript">

var dropbox;

dropbox = document.getElementById("dropbox");
dropbox.addEventListener("dragenter", dragenter, false);
dropbox.addEventListener("dragover", dragover, false);
dropbox.addEventListener("drop", drop, false);

function dragenter(e) {
  e.stopPropagation();
  e.preventDefault();
}

function dragover(e) {
  e.stopPropagation();
  e.preventDefault();
}

function drop(e) {
  e.stopPropagation();
  e.preventDefault();

  var dt = e.dataTransfer;
  var files = dt.files;

  for(i=0;i<files.length;i++)
    get_signed_request(files[i]);

}

/*
function add_controls(name){
  $('#'+name).cropper({
    aspectRatio: 1,
    viewMode: 1,
    dragMode: 'move',
    restore: false,
    guides: false,
    highlight: false,
    scalable: false,
    zoomable: false,
    cropBoxMovable: false,
    cropBoxResizable: false,
    minCropBoxHeight:300,
    minCropBoxWidth:300,
    minCanvasHeight:300,
    minContainerHeight:300,
    built: function () {
      $('#'+name).cropper("setCropBoxData", { width: "300", height: "300" });
    }
  });
}
function upload_croped(){

  var cropData = $('#preview').cropper('getData',{rounded: true});
  var imageData = $('#preview').cropper('getCropBoxData');
  var imageName = document.getElementById("file_input").files[0].name;
  var data = {name: imageName, crop: cropData}
  $.post("/submit_changes/", data, function( data ) {
    if(data.status == "OK"){
      $('#preview').cropper('destroy');
      document.getElementById("preview").src = data.url;
    }
  } )
}*/

function init_image(id){
  $("#container").append("<progress id='prog_"+
  id+
  "' value='0' max='100' ></progress>");
}
function finish_image(id,url) {
  $("#container").append("<span class='image-box' ><img id='i_"+
  id+"' class='thumb' src='"+url+"' /></span>");
  $("#prog_"+id).remove();
  $("#file_input  ").val('');
}

function file_name(file){
  return file.name.replace(/[ `~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
}

/*
    Function to carry out the actual PUT request to S3 using the signed request from the Python app.
*/
function upload_file(file, signed_request, url, filename){

    init_image(filename);
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.upload.addEventListener("progress", function(oEvent){
      if (oEvent.lengthComputable) {
        var percentComplete = Math.round(oEvent.loaded / oEvent.total * 100);
        $("#prog_"+filename).attr('value', percentComplete);
      }
    }, false);
    xhr.onload = function() {
        if (xhr.status === 200) {
            finish_image(filename,url);
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file.");
    };
    xhr.send(file);
}

/*
    Function to get the temporary signed request from the Python app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                upload_file(file, response.signed_request, response.url, response.filename);
            }
            else{
                alert("Não foi possível realizar o upload.");
            }
        }
    };
    xhr.send();
}

/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("Nenhum arquivo selecionado.");
        return;
    }
    for(i=0;i<files.length;i++)
      get_signed_request(files[i]);
}

/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
    $("#preview").on("click",function(){
      $("#file_input").click();
    });
})();

</script>
{% endblock %}
